@model AlbumDeFotos.Models.Album

@{
    ViewData["Title"] = "Detalhes do album " + Model.Destino;
}

<div class="album">
    <div class="foto">
        <div class="container">
            <div class="texto">
                <h2 class="text-light">@Html.DisplayFor(model => model.Destino)</h2>
                <h5 class="text-light">@Html.DisplayFor(model => model.Inicio) à @Html.DisplayFor(model => model.Fim)</h5>
            </div>
        </div>
    </div>

    <div class="text-center pt-5">
        <h5>Fotos de(o) @Model.Destino</h5>
        <hr />
        <div class="linkImagem d-none">@Model.FotoTopo</div>
    </div>

    <div class="botoes text-center">
        <a asp-controller="Imagens" asp-action="Create" asp-route-id="@Model.AlbumId" class="btn btn-primary">Nova foto</a> |
        <a asp-action="Index" class="btn btn-dark">Voltar</a>
    </div>
</div>

@section Scripts{
    <script>

    //Pega o caminho da imagem
    var linkImagem = $('.linkImagem').text();
    var url = "/" + linkImagem;

    //Carrega a imagem ao iniciar
    $(document).ready(function () {
        $('.foto').css('background-image', 'url("@Url.Content(Model.FotoTopo)")');
    });

    </script>
}